<script>
	$('#main_nav').children('li').removeClass('active');
	$('#nav_vendors').addClass('active');
</script>

<span class="breadcrumbs"><%= link_to('Home', root_path) %> › Vendors
</span>
<hr />

<h2>Showing nearby vendors</h2>
<br />

<div class="results">
	<div class="row ">
		<span class="span12 instructions inlist">Click SUBSCRIBE to receive all notifications from a vendor.</span>
	</div>
	<ul class="resultslist">
		<hr />
		<% @vendors.each do |vendor| %>
		  <li class="row">
		  	<span class="span5">
		  		<button type="button" class="btn btn-small btn-primary subscribebtn" data-toggle="button">
					Subscribe
				</button>
		  		<%= link_to vendor.name, vendor %>
		 	 </span>
		 	 <span class="span6 description">
		  		<%= vendor.description %>
		  	 </span>
		  </li>
		  <hr />
		<% end %>
	</ul>
</div>