<h2>Showing vendors near [city]</h2>
<br />

<div class="results">
	<ul class="resultslist">
		<% @vendors.each do |vendor| %>
		  <li class="row">
		  	<span class="span5">
		  		<button type="button" class="btn btn-small btn-primary" data-toggle="button">
					Subscribe
				</button>
		  		<%= link_to vendor.name, vendor %>
		 	 </span>
		 	 <span class="span6 description">
		  		<%= vendor.description %>
		  	 </span>
		  </li>
		  <hr />
		<% end %>
	</ul>
</div>